<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452068685864-hm8b7c9u8g8d68te6rraorf6lmtf83tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452068685864-hm8b7c9u8g8d68te6rraorf6lmtf83tu</string>
	<key>API_KEY</key>
	<string>AIzaSyA7VuFfTx80d-HZAPgIRsIs_1V0fG41TkM</string>
	<key>GCM_SENDER_ID</key>
	<string>452068685864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ptcloutier.CloudCamera</string>
	<key>PROJECT_ID</key>
	<string>cloud-camera-7f4ad</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-camera-7f4ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452068685864:ios:c7a5e708fc0283f5</string>
	<key>DATABASE_URL</key>
	<string>https://cloud-camera-7f4ad.firebaseio.com</string>
</dict>
</plist>